* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --nav-color: #ffaa4f;
    --color-2: #d6e8bf;
    --color-3: #b6e6a6;
    --color-4: #99dcf6;
    --color-5: #97d6f4;
    --black-color: #212121;
    --white-color: #fff;
    --primary-color: #2caee2;
    --text-color: #5e5d5d;
    --style-color: #e56d3f;
    --gray-color: #f3f7f3;
}

.col-2 {
    width: 49.8%;
}

.col-3 {
    width: 33.18%;
    float: left;
}

.col-4 {
    width: 25%;
}

.col {
    float: right;
}

.col-left {
    float: left;
}